.form-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 600px; */
  margin: 0 auto;
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

label {
  max-width: 110px;
  width: 100%;
  margin-right: 20px;
}

.input-icon-item {
  position: relative;
  width: 100%;
}

.input-icon-item>i {
  position: absolute;
  display: block;
  top: 4px;
  left: 8px;
  pointer-events: none;
  text-align: center;
  font-style: normal;
}

.input-icon-item>input {
  padding-left: 16px;
  padding-right: 0;
  width: 100%;
}

.input-icon-right>i {
  right: 0;
}

.error-message {
  min-height: 20px;
}

@media (max-width: 700px) {
  .form-container {
    flex-direction: column;
  }

  .form-column {
    margin-right: 0;
  }
}
