<div class="container">
  <form [formGroup]="transactionForm" (submit)="submitForm()">
    <div class="form-container">
      <div class="form-column">
        <div class="form-group" style="white-space: nowrap">
          <label for="description">Description</label>
          <input id="description" type="text" formControlName="description"
            [class.invalid]="isInvalid('description')" />
        </div>
        <div class="error error-message" *ngIf="isInvalid('description')">
          Description is required
        </div>

        <div class="form-group" style="white-space: nowrap">
          <label for="senderNodeId">Sender Node</label>
          <ng-select id="senderNodeId" formControlName="senderNodeId" [class.invalid]="isInvalid('senderNodeId')">
            <ng-option *ngFor="let node of nodes" [value]="node.id">
              {{ node.currencySymbol }} {{ node.name }}
            </ng-option>
          </ng-select>
        </div>
        <div class="error error-message" *ngIf="isInvalid('senderNodeId')">
          Sender Node is required
        </div>

        <div class="form-group" style="white-space: nowrap">
          <label for="receiverNodeId">Receiver Node</label>
          <ng-select id="receiverNodeId" formControlName="receiverNodeId" [class.invalid]="isInvalid('receiverNodeId')">
            <ng-option *ngFor="let node of nodes" [value]="node.id">
              {{ node.currencySymbol }} {{ node.name }}
            </ng-option>
          </ng-select>
        </div>

        <div class="error error-message" *ngIf="isInvalid('receiverNodeId')">
          Receiver Node is required
        </div>
      </div>

      <div class="form-column">
        <div class="form-group" style="white-space: nowrap">
          <label for="date">Date</label>
          <input id="date" type="date" formControlName="date" [class.invalid]="isInvalid('date')" />
        </div>

        <div class="error error-message" *ngIf="isInvalid('date')">
          Date is required
        </div>

        <div class="form-group input-icon" style="white-space: nowrap">
          <label for="senderAmount">Sender Amount</label>
          <div class="input-icon-item" style="white-space: nowrap">
            <i>{{ senderCurrency }}</i>
            <input id="senderAmount" type="number" formControlName="senderAmount"
              [class.invalid]="isInvalid('senderAmount')" />
          </div>
        </div>

        <div class="error error-message" *ngIf="isInvalid('senderAmount')">
          Sender amount is required and must be >= 0
        </div>

        <div class="form-group input-icon" style="white-space: nowrap">
          <label for="receiverAmount">Receiver Amount</label>
          <div class="input-icon-item" style="white-space: nowrap">
            <i>{{ receiverCurrency }}</i>
            <input id="receiverAmount" type="number" formControlName="receiverAmount"
              [class.invalid]="isInvalid('receiverAmount')" />
          </div>
        </div>

        <div class="error error-message" *ngIf="isInvalid('receiverAmount')">
          Receiver amount is required and must be >= 0
        </div>
      </div>
    </div>
    <div class="button-group" [ngSwitch]="state">
      <button class="create" class="form" id="create" type="submit" *ngSwitchCase="1"
        [disabled]="transactionForm.invalid">
        Create
      </button>
      <button class="create" class="form" id="create" type="submit" *ngSwitchCase="2"
        [disabled]="transactionForm.invalid">
        Create
      </button>
      <button class="update" class="form" id="update" *ngSwitchCase="3" [disabled]="transactionForm.invalid">
        Edit
      </button>
      <button type="button" class="form" id="cancel" (click)="onCancel()">
        Cancel
      </button>
    </div>

    <div class="error-message">
      {{ error }}
    </div>
  </form>
</div>
