.container {
    display: grid;
    grid-template-areas:
        'form info'
        'list info';
}

.form {
    grid-area: form;
    margin-bottom: 20px;
}

.transaction-info {
    grid-area: info;
}

.transaction-list {
    margin: 0px 0;
    grid-area: list;
}

.content-table {
    width: 900px;
}

.content-table td.date {
    width: 95px;
}

.content-table tr:hover td.date {
    display: none;
}

.nodeTitle {
    margin-bottom: 10px;
}

div .buttons {
    background-color: DodgerBlue;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
}