* {
    /* Change your font family */
    font-family: sans-serif;
}

.container {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.transaction-info {
    margin: 25px 0;
}

.transaction-list {
    margin: 25px 0;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
     height: 19px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table td.date {
    width: 105px;
}

.content-table tr:hover td.date {
    display: none;
}

/* Style buttons */
.btn {
    height: 43px;
    background-color: DodgerBlue; 
    border: none;
    /* Remove borders */
    color: white;
    padding: 12px 12px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    display: none;
}

.content-table tr:hover .btn {
    display: inline;
}

.content-table tr:hover #archive {
    display: inline;
    background-color: #DB5461;
}

.content-table tr:hover #repeat {
    display: inline;
    background-color: #009879;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.content-table tr:hover #archive:hover{
    background-color: #CA2B3B;
}

.content-table tr:hover #repeat:hover{
    background-color: #007A62;
}