.container {
  width: 280px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  width: 80px;
}

.error {
  display: flex;
  justify-content: center;
}

.bottom-group {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
}

.bottom-group .error-message {
  margin: 0;
}

.error-group {
  height: 20px;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
