<div class="container">

  <form [formGroup]="applyForm" (submit)="submitForm()">

    <div class="form-group" style="white-space:nowrap">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div class="form-group" style="white-space:nowrap">
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description">
    </div>

    <div class="form-group" style="white-space:nowrap">
      <label for="amount">Amount</label>
      <input id="amount" type="number" formControlName="amount">
    </div>

    <div class="form-group" style="white-space:nowrap">
      <label for="currencyId">Currency</label>

      <ng-select id="currencyId" formControlName="currencyId">
        <ng-option  *ngFor="let currency of currencys" [value]="currency.id">
            {{ currency.abbrev }}
        </ng-option >
     </ng-select>
    </div>

    <div class="form-group" style="white-space:nowrap">
      <input id="external" type="checkbox" formControlName="external">
      <label for="external">External</label>
    </div>

    <div class="button-group">
      <button *ngIf="nodeTemplate" class="form" id="update" type="submit">Update</button>
      <button *ngIf="!nodeTemplate" class="form" id="create" type="submit">Create</button>
      <button type="button" class="form" id="cancel" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>