*/ .content {
    grid-area: content;
}

.grid-container {
    margin: auto;
    display: grid;
    min-width: 500px;
    max-width: 1180px;
    grid-template-rows: 30px 1fr;
    gap: 20px;
}

.nav-bar {
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 10px 5px;
    border-radius: 5px;
    color: black;
    height: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.nav-bar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    border-radius: 5px;
}

.nav-bar a.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-bar a.active {
    background-color: dodgerblue;
    color: white;
}

.nav-bar-right {
    float: right;
    padding: 12px;
}

/* @media screen and (max-width: 500px) {
    .nav-bar a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-bar-right {
        float: none;
    }
} */