.indicator {
  width: 5px;
  height: 100%;
}

.incoming {
  color: #007A62;
}

.outgoing {
  color: #CA2B3B;
}

.neutral {
  color: GRAY;
}

.cancelled {
  color: #ccc;
}

.burger {
  position: absolute;
  margin-left: -23px;
  padding-left: 0;
  width: 20px;
}
