.container {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
    margin-top: 20px
}

.content-table {
    width: 280px;
}

.content-table tr:hover td.amount {
    display: none;
}

.archived-nodes-block {
  padding-top: 20px;
  padding-bottom: 10px;
}

.cancelled-node {
  color: #ccc;
}
