* {
    /* Change your font family */
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 280px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    height: 20px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table tr:hover td.amount {
    display: none;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    /* Remove borders */
    color: white;
    padding: 12px 12px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    display: none;
}

.content-table tr:hover .btn {
    display: inline;
}

.content-table tr:hover #archive {
    display: inline;
    background-color: #ff1e90;
}

/* Darker background on mouse-over */
content-table tr:hover .btn:hover {
    background-color: RoyalBlue;
}