<div class="container">
    <div class="node-list">

        <div *ngIf="isActiveNodeForm">
            <app-node-form (isActiveEvent)="onNodeFormUpdate($event)"
                [nodeTemplate]="selectedForEditNode"></app-node-form>
        </div>

        <div class="button-group" *ngIf="!isActiveNodeForm">
            <button class = "addNew" (click)="onAddNew()">Add new</button>
        </div>

        <table class="content-table">
            <tbody>
                <!-- <tr>
                    <td class="addNew">Add new node</td>
                    <td class="addNew"></td>
                </tr> -->
                <tr *ngFor="let node of nodes" [class.active-row]="node == selectedNode" (click)="onSelect(node)">
                    <td>{{ node.name }}</td>
                    <td class="amount">
                        <div align="right">{{ node.amount }}{{node.currencySymbol}}</div>
                    </td>
                    <div align="right">
                        <button class="inline" id="edit" (click)="onEdit(node)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button *ngIf="node.amount == 0" class="inline" id="archive">
                            <i class="fa fa-archive"></i>
                        </button>
                    </div>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="transaction-list">
        <app-transaction-list [selectedNode]="selectedNode"></app-transaction-list>
    </div>
    
</div>